:root
{
    --headerHeight: 100px;
    --headerColor: #3c59aa;
}
.header {
    width: 100%;
    background-color: var(--headerColor);
    height: var(--headerHeight);
}
.dropDownHeader {
    display: none;
    text-align: left;
    width: 100%;
    background-color: red;
}

.headerbtn{
    margin: 20px 25px;
}
