body {
    font-family: Arial;
}
.container {
    width: 500px;
    margin: 0 auto;
    height: auto;
    overflow-y: scroll;
    width: 80%;
}
a:link, a:visited {
    color: slategray;
    text-decoration: none;
    border-bottom: 1px dotted slategray;
}
a:hover {
    color: #444;
    border-bottom-color: #444;
}

.inputStyling {
    //width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    //background-color: green;
}
.signupform {
    margin: 0 auto;
    width: 10%;
}
textarea {
    resize: none;
}
